.noticeSearch .noticeSearchContainerCheckboxes, .noticeSearchContainerTexts, .noticeSearchContainerButtons {
  display: flex;
  justify-content: center;
}

.noticeSearchContainerTexts {
  justify-content: left;
}

.noticeSearch .noticeSearchContainerTexts .date {
  position: relative;
  top: 17px;
}

.noticeSearch{
  width: 100%
}

.noticeSearch .noticeSearchContainerButtons {
  position: relative;
  justify-content: center;
}

.noticeSearch .noticeSearchContainerButtons button {
  margin-right: 10px;
}

.noticeResults .kt-portlet__body {
  padding: 0;
}

.noticeResults .kt-section div {
  padding: 0;
}

.noticeResults {
  width: 100%;
}

.noticeSearchContainerCheckboxes .col-md-12 {
  margin-bottom: 14px;
}