.offerResult {
    width: 100%;
}

.contentTable {

}

.contentTable  th {
    margin-right: 10px;
    background: #646c9a;
    color: white;
}


.contentTable tr {
    height: 20px;
    border: 1px solid #646c9a;
}
.noResults {
    display: flex;
    text-align: justify;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contentTable table {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
    border: 1px solid gray;
}

.contentTable table tr td {
    border:  1px solid #646c9a;
}
.offer_header .MuiTableCell-root {
    border-bottom: 0px;
}

.tab {
    background: lightgray;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    border-radius: 10px 10px 0px 0px;
    padding-top: 10px;
    padding-bottom: 5px;
    cursor: pointer;
}

.tabs {
    position: relative;
    left: -10px;
}