.alertsResults .kt-portlet__body {
    padding: 0;
}

.alertsResults .kt-section div {
    padding: 0;
}

.noticeResults .kt-portlet__body {
    padding: 0;
}

.noticeResults .kt-section div {
    padding: 0;
}

.offersResults .kt-portlet__body {
    padding: 0;
}

.offersResults .kt-section div {
    padding: 0;
}