.alertsResults .kt-portlet__body {
    padding: 0;
}

.alertsResults .kt-section div {
    padding: 0;
    font-size: 1rem;
    font-family: Poppins;
    font-weight: 400;
    line-height: 1.5;
}

.alertsResults {
    width: 100%;
}

.alertsResults .row .fa {
    margin-left: 10px;
}