.noticeResults .kt-portlet__body {
    padding: 0;
}

.noticeResults .kt-section div {
    padding: 0;
    padding: 0;
    font-size: 1rem;
    font-family: Poppins;
    font-weight: 400;
    line-height: 1.5;
}

.noticeResults {
    width: 100%;
}
