.entity_compare {
   /* text-align: center;
    font-size: 15px;
    font-weight: bold; */
    padding: 10px !important;
}

.offersResults {
    min-height: 0px;
}

.kt-portlet__body {
    min-height: 100px;
}

.MuiPaper-elevation1 {
    padding: 0 !important;
}


.arrow_box {
    position: relative;
    background: #646c9a;
    border: 1px solid #646c9a;
    padding-right: 5px;
    color: white;
    border-radius: 0px 5px 5px 0px;
}
.arrow_box:after, .arrow_box:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #646c9a;
    border-width: 10px;
    margin-top: -10px;
}
.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #646c9a;
    border-width: 11px;
    margin-top: -11px;
}
